.sound {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    &.offline {
        path {
            transition: 0.4s;
            fill: red;
        }
        a {
            transition: 0.4s;
            color: red;
        }
    }
    svg {
        width: 40px;
        margin-right: 20px;
    }
    a {
        margin-left: 5px;
    }
}